html {
  background-color: #252839;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-width: 300px;
  min-height: 100vh;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rbga(0, 0, 0, 0.1);
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

.content {
  display: flex;
  position: relative;
  min-height: 100vh;
}

.side {
  max-width: 20rem;
  max-height: 20rem;
}

.about {
  max-width: 26rem;
}

@media screen and (max-width: 799px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 3rem;
  }
  .side {
    margin-bottom: 3rem;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .content {
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem;
  }
  .side {
    flex-grow: 0;
    flex-shrink: 0;
    height: 20rem;
    margin-left: 4rem;
    order: 2;
    width: 20rem;
  }
  .about {
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.pic-shadow {
  border-radius: 949px;
  background-image: radial-gradient(#000 0%, rgba(0, 0, 0, 0) 70%);
  position: absolute;
  top: 10%;
}

#headshot {
  background-image: url('dp.JPG');
}

.dp {
  background: #eee no-repeat;
  background-size: cover;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}

.name {
  font-size: 2.25rem;
  line-height: 1.125;
  margin-bottom: 0.5rem;
}

.title, .button, .school {
  font-family: "Montserrat", "Quicksand", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.title {
  color: #b5b5b7;
  font-size: 0.55rem;
}

.school {
  color: #f2b632;
  font-size: 0.75rem;
  padding-bottom: 1px;
}

.hr {
  background-color: #ff470f;
  border: none;
  content: "";
  height: 1px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  transform-origin: center left;
  width: 4rem;
}

.contact {
  display: inline-block;
  margin-top: 1.5rem;
  vertical-align: top;
}

.button, .social a {
  transform-origin: center;
  transition-duration: 100ms;
}

.button {
  background-color: #fff;
  border-radius: 900px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: #9013fe;
  display: inline-block;
  font-size: 0.785rem;
  line-height: 1;
  padding: 1.25em 2em;
  text-shadow: none;
  transition-property: box-shadow, transform;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
}

.button:hover {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transform: scale(1.02) translateY(-4px);
}

.button:active {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transform: scale(0.98) translateY(-2px);
}

.social {
  display: flex;
  margin-top: 1.5rem;
}

.social li {
  height: 2rem;
  margin-right: 0.5rem;
  text-align: center;
  width: 2rem;
}

.social a {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  justify-content: center;
  opacity: 0.5;
  transition-property: opacity, transform;
  width: 2rem;
  will-change: opacity, transform;
}

.social a:hover {
  opacity: 1;
  transform: scale(1.25);
}