.post p {
  @apply leading-7;
}

.post h2 {
  @apply mt-6 text-3xl text-neutral-100;
}

.post h3 {
  @apply mt-4 text-xl text-neutral-100;
}

.post code {
  @apply rounded-sm bg-neutral-800 px-1 py-[2px] text-red-500;
}

.post a {
  @apply text-neutral-100 underline;
}

.post ul {
  @apply list-disc space-y-2 pl-5;
}

.post ol {
  @apply list-decimal space-y-2 pl-5;
}

.post blockquote {
  @apply flex flex-row gap-2 border-l-2 border-red-400 pl-3 text-neutral-200;
}

.post pre {
  @apply overflow-x-auto rounded-md bg-neutral-900 p-4;
}

.post pre > code {
  @apply bg-transparent;
}

.post img {
  @apply h-auto w-full rounded-md bg-neutral-900 object-cover;
}

.post table {
  @apply w-full table-auto text-left text-sm text-neutral-200;
}

.post th,
.post td {
  @apply border-b border-neutral-800 px-3 py-2 align-top;
}

.post thead th {
  @apply border-b-2 text-neutral-100;
}
